.contentmain {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
};

.leftmenu {
  position: absolute;
  width: 258.61px;
  height: 768px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  box-shadow: 4px 0px 9px rgba(201, 201, 201, 0.09);

};